<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://w3.org"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="LiteFeatureFlagBundle Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
